.login-container {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  
  .register-link {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  